.form__journalDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.form__journalConcepts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.form__journalEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.form__journalMood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}